body {
	background-color: #14232d;
	color: #cfd4d9;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
	list-style: none;
}

a {
	color: #cfd4d9;
}

h1 {
	text-align: center;
}

ul {
	display: flex;
	justify-content: space-evenly;
	width: 300px;
	margin: auto;
	padding: 0;
}

p {
	text-align: center;
	font-size: 12.2px;
}

hr {
	margin-bottom: 2em;
}

form label {
	position: absolute;
	top: -200px;
}

form input {
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px 0;
	margin-bottom: 0.8em;
}

form p {
	font-size: 10px;
	text-align: left;
}

.div-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	background-color: #14232d;
	color: #cfd4d9;
	border: 2px solid #cfd4d9;
	border-radius: 3px;
	padding: 0.4em 1.3em 0.4em;
}

.btn:hover {
	background-color: #cfd4d9;
	color: #14232d;
	transform: scale(1.1);
}

.container {
	width: 300px;
	margin: 0 auto;
}

#alert-msg {
	text-align: center;
	font-size: 0.8em;
	margin-top: 1.1em;
	padding: 0.6em 0.4em;
	display: none;
}

#alert-msg[data-success] {
	border: 1.5px solid #52ca50;
	border-radius: 8px;
	background: #52ca503a;
	display: block;
}

#alert-msg[data-error] {
	border: 1.5px solid #e14c4c;
	border-radius: 8px;
	background: #e14c4c5e;
	display: block;
}
